version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: moodle-app
    stdin_open: true  
    tty: true 
    depends_on:
      - postgres
      - redis
    environment:
      ASPNETCORE_ENVIRONMENT: Production
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: moodle-postgres
    environment:
      POSTGRES_DB: Internship-7-EFCore
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: moodle-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  postgres_data:
